*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alto{
    height: 100vh;
}
.calculator{
    overflow: hidden;
}
ol>li{
    list-style-type: lower-latin;
}
.error{
    display: none;
}
.visible{
    display: block;
}